fastapi
uvicorn
sqlalchemy
pymysql
cryptography
pytz
anthropic
google-cloud-vision
google-cloud-pubsub
Pillow
python-multipart
python-dotenv
redis
aioredis
aiofiles
audioread
pydub
elevenlabs
prometheus-fastapi-instrumentator